.btn{
    width: max-content; 
    letter-spacing: 1px;
    background-color: var(--headerbg);
    padding: 0.8rem 0.8rem;
    font-size: 0.8rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    font-weight: bold;
    border: 2px solid;
}

.btn-primary:hover{
    background-color: white;
    color: var(--headerbg);
    border: 2px solid var(--primary);
}

.btn-primary{
    color: var(--primary);
}

.btn-secondary{
    color: var(--headerbg);
    background-color: white;
    border: 2px solid var(--primary);
}

.btn-secondary:hover{
    background-color: var(--primary)
}

.btn-icon{
    padding: auto;
    color: whitesmoke;
}

.btn-floating-action{
    letter-spacing: normal;
    padding: 0;
    border: 1rem solid var(--headerbg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: whitesmoke;
    position: fixed;
    bottom: 5rem;
    right: 3rem;
}