.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
}

.nav>h3{
    letter-spacing: 2px;
}

.nav a{
    text-decoration: none;
    color: inherit;
}

.nav-dark{
    background-color: var(--headerbg);
    color: var(--primary);
}

.nav-light{
    border: 1px solid var(--primary);
    color:var(--headerbg);
}

.nav .search-container{
    display: flex;
    align-items: center;
}

.nav input{
    padding: 0.4rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    border: none;
    width: 15rem;
    border-radius: 0.5rem;
}

.nav-list{
    list-style: none;
    display: flex;
    font-weight: bolder;
    letter-spacing: 1px;
    flex-wrap: wrap;
}
.nav-list>li{
    padding: 1rem 1.5rem;
    font-size: large;
    font-weight: bold;
}

.hamburger{
   display: none;
}

@media screen and (max-width: 760px) {
    .nav-list{
        display: none;
    }

    .hamburger{
        display: inline;
        color: inherit;
        background-color:inherit ;
        border: none;
        margin-right: 1rem ;
    }
}

@media screen and (max-width: 1000px){
    .nav .search-container{
        display: none;
    }
}
