@import url("/CSS/variables.css");

.alert{
    border-radius: 0.625rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.alert-success{
    color: var(--alertSuccesColor);
    background-color: var(--alertSuccesColorBg);
}

.alert-error{
    color: var(--alertErrorColor);
    background-color: var(--alertErrorColorBg);
}

.alert-warning{
    color: var(--alertWarningColor);
    background-color: var(--alertWarningColorBg);
}

.alert-information{
    color: var(--alertInfoColor);
    background-color: var(--alertInfoColorBg);

}